@model  LoveBank.Common.IPagedList<LoveBank.Web.Admin.Models.MachineModuleShowManageModel>
@using MvcContrib.UI.Pager;
@using LoveBank.Common
@using LoveBank.MVC
@using LoveBank.MVC.UI
@using MvcContrib.UI.Grid

@section HeadSection {
    <script type="text/javascript">
   
        function del(id) {

            var url = '@Url.Action("Delete")' + '?id=' + id;
            deleteMethod(id, "Delete");
        
        }
    </script>

}


<div id="button_row">

    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" href="@Url.Action("Add")">新增板块</a>
</div>
<div class="grid_box">

    @Html.Grid(Model).Columns(column =>
    {
        //column.CheckBox(x => x.Id);
        column.For(x => x.ID).Named("ID");
        column.For(x => x.Name?? "").Named("名称");
        column.For(x => x.LinkUrl ?? "").Named("连接地址");
        column.For(x => x.Sort).Named("显示顺序");
        column.For(x => x.ModuleKey ?? "").Named("模块自定义标识");
        column.For(x => x.AddTime.ToString("yyyy-MM-dd")).Named("注册时间");
        column.For(x => x.Department.Name).Named("显示地区");
        //column.For(x => (x.Department ?? new LoveBank.Core.Domain.Department()).Name ?? "").Named("所属区域");
        column.For(x => x.State).Named("状态");

        column.Buttons(btns => btns.Add(x => Html.ActionLink("编辑", "Edit", new { id = x.ID }))
            .Add(x => Html.ScriptLink("删除", "del({0})", x.ID))

            );
    }).Complex(ViewData)

</div>

@Html.Pager(Model)