@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @*<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />*@

    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"> </script>
    <style>
        .artdetail {

        font-family:黑体;
        color:#47494c;
        font-size:17px;
        line-height:28px;
        text-align:justify;
        }
        p {
            display: block;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }
    </style>
</head>

<body >
   <div class="container" style=" ">
       <div class="row">
           <div class="col-xs-12  text-center">
               <div class="h2" style="color:#4c4d51; padding-top:35px;font-family: '黑体';font-weight:700;">英女王邀习近平参观皇宫藏品 白金汉宫国宴菜单曝光</div>
               <div class=" h3" style=" margin:15px;">
               <div class="small" style="color:#a7a7a7;font-family: '黑体';font-weight:400;">2015-10-21 </div>
               </div>
           </div>

       </div>
       <div class="row-fluid">
           <div class="col-xs-12 col-sm-12 col-md-12 artdetail">

               撒旦法萨芬十大法师是撒撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
           </div>

       </div>
      @* <div class="row-fluid">
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
         Optional: clear the XS cols if their content doesn't match in height
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    </div>*@
  
       <div class="row-fluid">
           <div class="span4">撒旦法萨芬十大法师是撒撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
               撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a撒旦法萨芬十大法师是撒a
           a</div>
           <div class="span8">b</div>
       </div>
   </div>
</body>
</html>