@*<link rel="stylesheet" href="@Url.Content("~/Content/Web/css/groupCenterpublic.css")">*@
<link rel="stylesheet" href="@Url.Content("~/Content/Web/css/groupCenterstate.css")">

<style>

    .l_user_details {
        border-left:none;  
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
        min-height: 298px;
        padding: 30px 0 30px 60px;
        width: 350px;
    }
</style>
    <div class="l_percen_rcontent" style="margin-left:auto; margin-right:auto;">


        <div class="l_user_details">
            <p class="l_groupstate_title">
                注册成功！
            </p>
            <p class="l_groupstate_info">
                恭喜您注册成功，马上去<a href="">爱心银行</a>逛逛吧！

            </p>

        </div>

    </div>
