@model  IPagedList<LoveBank.Web.Admin.Models.SuperviseModel>
@using MvcContrib.UI.Pager;
@using LoveBank.Common
@using LoveBank.MVC
@using LoveBank.MVC.UI
@using MvcContrib.UI.Grid

<script type="text/javascript">

    function del(id) {

        var url = '@Url.Action("Delete")' + '?id=' + id;
        deleteMethod(id, "Delete");
    
    }
    function submitForm() {
      
        $('#indexFrom').submit();
    }





</script>
<style>
    .combo {
        vertical-align: bottom;
    }
</style>
<form id="indexFrom">

    <div style="float: left; height: 40px; text-align: center;">
     
        <div style="margin-left:70px;">
           <p style="float:left; margin-top:16px;"> 处理状态</p>
            <span class="combo">   
               
                  <select id="State" class="easyui-combobox" data-options="" name="State" style="width: 120px; ">
                     <option value="" selected="selected">全部</option>
                    <option value="0">未回复</option>
                    <option value="1">已回复</option>
                </select>
              </span>
         
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">查询</a>
        </div>
    </div>
</form>
<div class="grid_box">
   
    @Html.Grid(Model).Columns(column =>
                                  {
                                      // column.CheckBox(x => x.Id);
                                      //   column.For(x => x.Id).Named("编号").HeaderAttributes(style => "width:50px;align:center;");
                                      column.For(x => x.State).Named("状态");
                                      column.For(x => x.Content).Named("投诉类容").HeaderAttributes(style => "width:450px;align:center;");
                                      column.For(x => x.AddTime.ToString("yyyy-MM-dd HH:mm")).Named("投诉时间").HeaderAttributes(style => "width:140px;align:center;");
                                      column.For(x => x.DepName).Named("社区");
                                    
                                      column.For(x => x.volEntity.RealName).Named("真实姓名");
                                      column.For(x => x.volEntity.Phone).Named("联系电话");
                                      column.For(x => x.volEntity.Address).Named("地址");
                                    
                                      column.Buttons(btns => btns.Add(x => Html.ActionLink("查看", "view", new { id = x.Id })));
                                  }).Complex(ViewData)
    
</div>

@Html.Pager(Model)
