

/*clearfix	清浮动*/

/*dis-ib	转换块级元素*/

/*main 		内容主体样式*/

/*fl,fr		左右浮动*/

/*mt10,mt10,mt10,mt10	上下左右外边距*/

/*mg-auto	元素居中*/

/*tianstion	变换兼容*/

/*bgc		灰色背景-测试样式*/

/*txt-center,txt-justify 文字居中 */

/*overflow	超出隐藏 */



/*图片轮播模块*/

#bgimg{
	height:335px;margin-bottom:75px;overflow:hidden;
	position:relative;
	width:1200px;
	margin:0 auto;
	margin-bottom:65px;
}

#bgimg .listnb{
	position:absolute;
	width:350px;
	margin-left:-175px;
	left:50%;
	height:18px;
	overflow:hidden;
	z-index:2;
	bottom:8px;
}
#bgimg .listnb li{
	width:75px;
	margin:0 5px;
	float:left;
	display:inline;
	background-color: rgba(255,255,255,.4);
	background-color: #C4CEC3\9;
	opacity:0.7;filter:alpha(opacity=70);
}
#bgimg .listnb li a{
	display:block;
}
#bgimg .listnb .active{
	background-color: #2C9A42;
	opacity:0.7;filter:alpha(opacity=70);
}

/*主要内容模块*/



#main .mb65{
	margin-bottom:65px;
}
#main .mb60{
	margin-bottom:60px;
}
#main .mb45{
	margin-bottom:45px;
}
#main .mb40{
	margin-bottom:40px;
}

#main .x_ind_1 .lef{
	width:430px;
	padding:5px;
	border-right:3px solid #ADADAD;
}
#main .x_ind_1 .lef li{
	text-indent:15px;
	background:url("../img/1.jpg") 15px 11px no-repeat;
}
#main .x_ind_1 .lef li a{
	margin-left: 25px\9;
	float:left\9;
}
#main .x_ind_1 .lef .lis{
	text-indent:35px;
	background: none;
	background-color: #F0F0F0;
	line-height:52px;
	color:#4A4A4A;
	font-size:22px;
	margin-bottom:16px;
}
#main .x_ind_1 .lef .lis span{
	font-size:34px;
	font-family:"arial";
}

#main .x_ind_1 .lef li a{
	line-height:36px;
	font-size:14px;
	text-indent:25px;
	width:60%;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow:hidden;
	/*font-size:16px;*/
	font-family:"microsoft yahei";
	color:#494949;
}
#main .x_ind_1 .lef li a:hover{
	color:#00AF62;
}
#main .x_ind_1 .lef li .fr{
	padding-right:14px;
	line-height:36px;
	font-size:14px;
	text-indent:25px;
	color:#494949;
}


#main .x_ind_1 .rig{
	width:730px;
	padding:5px 12px;
	padding-bottom: 20px;
}
#main .x_ind_1 .rig img{
	width:100%;
	height:157px;
	margin-bottom:18px;
}

#main .x_ind_1 .rig  .index_intro{
	width:100%;
	height:200px;
	overflow: hidden;
}

/*	溢出滚动	*/

#main .x_ind_1 .rig  .index_introtog{
	width:100%;
	height:200px;
	overflow-y: scroll;
}
#main .x_ind_1 .rig .index_intro p{
	text-indent:31px;
	font-size:14px;
	line-height:34px;
	font-family:"microsoft yahei";
	color:#4A4A4A;
}
#main .x_ind_1 .rig .text {
	text-align:right;
	padding-right: 20px;
	font-size:14px;
}
#main .x_ind_1 .rig .text a{
	color:#2C9A42;
}



#main .x_ind_9{
	position:relative;
	font-size:32px;
	text-align:center;
	font-family:"黑体";
	color:#4A4A4A;
}
#main .x_ind_9 p{
	position:absolute;
	top:50%;
	width:100%;
	height:2px;
	overflow:hidden;
}
#main .x_ind_9 p i{
	width:29%;
	height:2px;
	display:inline-block;
	margin:0 36px;
	background-color: #B1B1B1;
}


#main .x_ind_2{overflow:hidden;}

#main .x_ind_2 .bank1{
	width:50%;
	margin-bottom:65px;
	overflow:hidden;
}

#main .x_ind_2 .bank1 img{
	margin: 7px 15px 0 15px;
	display:inline-block;
}
#main .x_ind_2 .bank1 ul{
	height:230px;
}
#main .x_ind_2 .bank1 ul a{
	width:59%;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow:hidden;
	font-size:14px;
	font-family:"microsoft yahei";
	color:#494949;
	line-height:30px;
}
#main .x_ind_2 .bank1 ul span{
	font-size:14px;
	font-family:"microsoft yahei";
	color:#494949;
	line-height:30px;
}
/*#main .x_ind_2 .bank1 ul li{
	line-height:30px;
}*/
#main .x_ind_8 p{
	top:20%;
}
#main .x_ind_9 img{
	position:absolute;
	margin-left:-29px;
	top:-52px;
	left:50%;
}
#main .x_ind_2 .bank1 ul .fr{
	padding-right:15px;
}
#main .x_ind_2 .bank1 ul a:hover{
	color:#00AF62;
}

/*	便民服务样式	*/
.l_index_sharesever{
	width:1140px;
	height:500px;
	margin:0 auto;
	font-family:"microsoft yahei";
	
}

.l_index_sharesever .l_index_server{
	position:relative;
	width:300px;
	height:400px;
	
}
/*	边距类	*/
.margintwo{
	margin-left:125px;
}
.l_index_sharesever .l_index_server .l_index_server_topimg{
	position:absolute;
	top:0;
	left:0;
	width:300px;
	height:200px;
	text-align:center;
	/*background-color:yellow;*/

}

.l_index_sharesever .l_index_server .l_index_server_topimg img{
	border-radius: 100%;
	
}
.l_index_sharesever .l_index_server .l_index_server_main{
	width:298px;
	height:350px;
	margin-top:50px;
	/*border:1px solid green;
	border-bottom:3px solid green;
*/
}

.l_index_sharesever .l_index_server .l_index_server_main .l_index_ser_maintitle{
	width:100%;
	height:40px;
	margin-top:150px;
	line-height:40px;
	/*color:#a6ce65;*/
	font-size:20px;
	text-align:center;

}
.l_index_sharesever .l_index_server .l_index_server_main ul{
	width:170px;
	margin:0 auto;
}
.l_index_sharesever .l_index_server .twoorange ul{
	width:140px;
}
.l_index_sharesever .l_index_server .treblue ul{
	width:130px;
}

.l_index_sharesever .l_index_server .l_index_server_main ul li{
	margin:0;
	padding:0;
	width:260px;
	height:40px;
	line-height:40px;
}

.l_index_sharesever .l_index_server .l_index_server_main ul li a{
	color:#666;
	font-size:14px;
	display:block;
	height:40px;
	line-height:40px;
}
.l_index_sharesever .l_index_server .l_index_server_main ul li a img{
	margin-right:5px;
	margin-top:10px;
	float:left;
}
/*	颜色样式class	*/

.onegreen{
	border:1px solid #a6ce65;
	border-bottom:5px solid #a6ce65;
	color:#a6ce65;
}
.onegreenimg{
	border:1px solid #a6ce65;
}
.twoorange{
	border:1px solid #f07c00;
	border-bottom:5px solid #f07c00;
	color:#f07c00;
}
.twoorangeimg{
	border:1px solid #f07c00;
}

.treblue{
	border:1px solid #1094f8;
	border-bottom:5px solid #1094f8;
	color:#1094f8;
}
.treblueimg{
	border:1px solid #1094f8;
}
/*		以下开始		*/



/*		图片区		*/
.x_ind_3{
	width:100%;
	height:auto;
	overflow:hidden;

}


/*		图片内容器		*/


.x_ind_3 .l_ind_3_content{
	width:1164px;

	height:auto;
	margin:0 auto;
	overflow:hidden;
}

.img_top{
	width:220px;
	height:auto;
	padding:17px 10px 15px 10px;
	border:1px solid #aaa;
	z-index:5;
	box-shadow: 0px 3px 3px  #999;
	background-color:#fff;
}

.x_ind_3 .l_ind_3_content  .l_ind_3_con_img{
	float:left;
	width:237px;
	margin-right:27px;
	margin-left:27px;


}
.x_ind_3 .l_ind_3_content  .l_ind_3_con_img .img_top a img{
	width:218px;
	height:218px;
}

.l_ind_3_content .l_ind_3_con_img .l_ind_3_cimg_img{
	position:relative;
	width:218px;
	height:218px;
	/*background-color:#aaa;*/
}

.l_ind_3_con_img .l_ind_3_cimg_img .img_footer{
	position:absolute;
	height:32px;
	width:100%;
	text-align:center;
	line-height:30px;
	bottom:0;
	left:0;
	background-color:#333;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.l_ind_3_con_img .img_top .l_ind_3_cimg_img .img_footer a{
	font-size:12px;
	line-height:32px;
	color:#fff;
}

.l_ind_3_content .l_ind_3_con_img .img_top .l_ind_3_content_one{
	width:100%;
	height:30px;
	line-height:40px;
}

.l_ind_3_content .l_ind_3_con_img .img_top .l_ind_3_content_one a{
	color:#000;
	font-size:14px;
	margin-left:10px;
}

.l_ind_3_content .l_ind_3_con_img .img_top .l_ind_3_content_two{
	width:100%;
	height:35px;
	line-height:35px;
}

.l_ind_3_content .l_ind_3_con_img .img_top .l_ind_3_content_two .money{
	float:left;
	height:100%;
	font-size:18px;
	color:#ff8243;
	margin-left:10px;
}

.l_ind_3_content .l_ind_3_con_img .img_top .l_ind_3_content_two .shopcar{
	float:right;
	height:100%;
	font-size:13px;
	color:#ff8243;
	line-height:30px;
	margin-right:10px;
	
}

.x_ind_3 .l_ind_3_con_img .img_top .l_ind_3_content_two  .shopcar  img{
	/*margin-top:2px;*/
/*	max-width:28%;
	max-height:60%;*/
	width:16px;
	height:14px;

}

.l_ind_3_content .l_ind_3_con_img  .l_ind_3_content_tre{
	width:100%;
	text-align:center;
	padding-bottom:1px;
}



/*轮播样*/
.imgList{position: relative;width:100%;height:100%;overflow:hidden;}
.imgList li{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;}
.imgList li img{height:100%;}
.imgList .n1{z-index:1;}
/*.countNum{	position:absolute;	right:100px;	bottom:5px;}
.countNum li{	width:20px;	height:20px;	float:left;color:#fff;	border-radius:20px;
background:#f90;text-align:center;margin-right:5px;cursor:pointer;opacity:0.7;filter:alpha(opacity=70);}
.countNum li.current{background:#f60;font-weight:bold;opacity:1;filter:alpha(opacity=70);}*/


/*	右边小窗口	*/

.sideright{
	position:fixed;
	right:0px;
	/*top:0px;*/
	width:50px;
	height:260px;
	background-color: #00AF62;
	padding:0 10px;
	border-radius: 5px 0 0 5px;
}
.sideright a{
	text-align:center;
	height:60px;
	width:50px;
	display:block;
	font-size:12px;
	color:#fff;
	padding-bottom:5px;
	border-bottom:1px solid #fff;
}
.sideright a img{
	height:40px;
}

/*	左边小窗口	*/
.sideleft{
	position:absolute;
	left:-136px;
	/*top:0px;*/
	opacity: 0;
	width:136px;
	height:136px;
	z-index: 100;

	background-color:#00af62;
}





/*	弹出窗口修改	*/

.l_groupcen_passokche{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 1000;
	font-family:"microsoft yahei";
	display:none;

}
.l_groupcen_passokche .l_groupcen_passalertbg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#333;
	opacity: .5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	z-index:1000;
}

.l_groupcen_passokche .l_grocen_alert{
	position: absolute;
	width:610px;
	height:450px;
	background-color:#fff;
	z-index: 1001;
	border-radius: 10px;
}
.l_groupcen_passokche .l_grocen_alert .l_grocen_title{
	height:55px;
	background-color:#0fa764;
	color:#fff;
	line-height:55px;
	font-size:20px;
	border-radius: 10px 10px 0 0;

}
.l_groupcen_passokche .l_grocen_alert .l_grocen_title span{
	width:180px;
	margin-left:15px;
	text-align:right;
	background:url(../img/alert_person.png) 10px 45% no-repeat;
}

.l_groupcen_passokche .l_grocen_alert .l_grocen_title a{
	width:30px;
	height:30px;
	margin:10px 50px;
}

.l_groupcen_passokche .l_grocen_alert .l_grocen_info{
	height:60px;
	padding-left:25px;
	line-height:60px;
	color:#333;
	font-size:16px;
	color:#666;
	text-align:left;
	

}

.l_groupcen_passokche .l_grocen_alert .l_grocen_infotext{
	height:auto;
	padding-left:25px;
	margin-top:10px;
	color:#333;
	font-size:16px;
	color:#666;
	text-align:left;
	

}

.l_groupcen_passokche .l_grocen_alert .l_grocen_info span{
	width:120px;
	
}

.l_groupcen_passokche .l_grocen_alert .l_grocen_info input{
	width:175px;
	height:30px;
}

.l_groupcen_passokche .l_grocen_alert .l_grocen_infotext span{
	width:120px;
}

.l_groupcen_passokche .l_grocen_alert .l_grocen_infotext textarea{
	width:400px;
	height:135px;
	resize: none;
	
}

/*	字体间距	*/
.letdis{
	letter-spacing: 4px;
}
.l_groupcen_passokche .l_grocen_alert .l_grocen_sub{
	height:60px;
	line-height:60px;
	text-align:center;
}
.l_groupcen_passokche .l_grocen_alert .l_grocen_sub input{
	height:40px;
	width:120px;
	background-color: #0fa764;
	font-size:18px;
	color:#fff;
	border-radius: 6px;
	border:none;
	outline: none;
	cursor:pointer;
}