

.l_user_details{
	width:350px;
	height:250px;
	margin-top:10px;
	margin-right:150px;
}

.l_user_details p{
	width:350px;
	height:50px;
	line-height:50px;
	color:#666;
	letter-spacing: 2px;
}
.l_user_details p span{
	float:left;
	width:50px;
	font-size:14px;
}
.l_user_details p input{
	width:245px;
	height:30px;
	font-size:14px;
	padding-left:15px;
}
.l_user_details p a{
	margin:0 30px;
	width:50px;
	color:#666;
	font-size:14px;

}
.l_user_details p a img{
	margin-right:5px;
}
.l_user_details .l_percenif_sub{
}

.l_user_details .l_percenif_sub input{
	color:#fff;
	width:100px;
	margin-left:120px;
	background-color:#00af62;
	border:none;
	border-radius: 5px;
}


/*	弹出窗口样式	*/

.l_groupcen_passok{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 1000;
	display:none;
	font-family:"microsoft yahei";
	
}
.l_groupcen_passalertbg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#333;
	opacity: .5;
	z-index:1000;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.l_grocen_alert{
	position: absolute;
	/*left:200px;*/
	/*top:100px;*/
	width:610px;
	height:240px;
	background-color:#fff;
	z-index: 1001;
	border-radius: 10px;
}
.l_grocen_alert .l_grocen_title{
	height:55px;
	background-color:#0fa764;
	color:#fff;
	line-height:55px;
	font-size:20px;
	border-radius: 10px 10px 0 0;

}
.l_grocen_alert .l_grocen_title span{
	width:200px;
	margin-left:15px;
	text-align:center;
	background:url(../img/alert_person.png) 10px 45% no-repeat;
}

.l_grocen_alert .l_grocen_title a{
	width:30px;
	height:30px;
	margin:10px 50px;
}

.l_grocen_alert .l_grocen_info{
	height:95px;
	line-height:95px;
	color:#333;
	font-size:28px;
	text-align: center;
	color:#666;
	

}

.l_grocen_alert .l_grocen_sub{
	height:60px;
	line-height:60px;
	text-align:center;
}
.l_grocen_alert .l_grocen_sub input{
	height:40px;
	width:120px;
	background-color: #0fa764;
	font-size:18px;
	color:#fff;
	border-radius: 6px;
	border:none;
	outline: none;
	cursor:pointer;
}