


/*	右边	*/



/*	我要发布	*/

.l_sever_pub{
	width:65px;
	text-align:right;

}

/*	发布信息	*/

.dis-ib .l_input_text{
	width:654px;
	padding:15px 30px;
	padding-top:20px;
	background:#fff url(../img/lovesha2.png) 60% 101% no-repeat;
}

.dis-ib .l_input_text div{
	padding-bottom:15px;
}

.dis-ib .l_input_text div span{
	float:left;
	width:70px;
	font-size:14px;
	color:#747474;
} 

.dis-ib .l_input_text div textarea{
	width:475px;
	height:160px;
	resize: none;
}

.l_input_text .l_serve_pernum input{
	width:195px;
	height:30px;

}

.l_input_text .l_serve_needtitle input{
	width:475px;
	height:30px;

}
.l_input_text p{
	text-align: center;
}
.l_input_text p input{
	width:100px;
	height:30px;
	outline: none;
	background-color:#00a35b;
	border:1px solid #00a35b;
	border-radius: 5px;
	color:#fff;
	font-size:14px;

}


/*	弹出窗口样式	*/

.l_groupcen_passok{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 1000;
	font-family:"microsoft yahei";
	
}
.l_groupcen_passalertbg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#333;
	opacity: .5;
	z-index:1000;
}

.l_grocen_alert{
	position: absolute;
	/*left:200px;*/
	/*top:100px;*/
	width:610px;
	height:240px;
	background-color:#fff;
	z-index: 1001;
	border-radius: 10px;
}
.l_grocen_alert .l_grocen_title{
	height:55px;
	background-color:#0fa764;
	color:#fff;
	line-height:55px;
	font-size:20px;
	border-radius: 10px 10px 0 0;

}
.l_grocen_alert .l_grocen_title span{
	width:160px;
	margin-left:15px;
	text-align:center;
	background:url(../img/alert_person.png) 10px 45% no-repeat;
}

.l_grocen_alert .l_grocen_title a{
	width:30px;
	height:30px;
	margin:10px 50px;
}

.l_grocen_alert .l_grocen_info{
	height:95px;
	line-height:95px;
	color:#333;
	font-size:28px;
	text-align: center;
	color:#666;
	margin-left: 60px;
	background:url(../img/1_03.png) 110px 50% no-repeat;

}
.l_grocen_alert .l_grocen_warn{
	height:40px;
	line-height:20px;
	font-size:18px;
	color:#666;
	text-align:center;

}
.l_grocen_alert .l_grocen_sub{
	height:60px;
	line-height:60px;
	text-align:center;
}
.l_grocen_alert .l_grocen_sub input{
	height:40px;
	width:120px;
	background-color: #0fa764;
	font-size:18px;
	color:#fff;
	border-radius: 6px;
	border:none;
	outline: none;
	cursor:pointer;
}



















