
/*	右边	*/


/*  	页码切换区	*/

.l_serve_cenfooter{
	position:absolute;
	bottom:0;
	text-align:center;
	margin-top:5px;
	height:35px;
	width:714px;
	font-size:14px;
	/*background:url(../img/lovesha2.png) 50% 100% no-repeat;*/
	padding-bottom:10px;
}
.l_serve_cenfooter a{
	color:#808080;
}

.l_serve_cenfooter .l_serve_changepage{
	background-color:#ccc;
	display:inline-block;
	width:50px;
	height:18px;
	line-height:18px;
	margin-left:10px;
}

 .l_serve_cenfooter .l_serve_changenum{
	display:inline-block;
	width:20px;
}

 .l_serve_cenfooter .l_serve_pageper{
	display: inline-block;
	width:50px;
	height:16px;
	line-height:18px;
	color:#808080;
	border:1px solid #b1b1b1;
}

/*	激活页码号类	*/

.l_serve_cenfooter .l_serve_changeactive{
	color:#00af62;
}


/*	我要发布	*/

.l_sever_pub{
	width:65px;
	text-align:right;

}

/*		需求详情	*/

.dis-ib .l_need_detail{
	position:relative;
	padding-top:5px;
	width:714px;
	height:auto;
	min-height:320px;
	background:#fff url(../img/lovesha2.png) 50% 102% no-repeat;
}

.dis-ib .l_serve_pubtitle{
	height:60px;
	width:714px;
	margin:0 auto;
	text-align:center;
	font-size:18px; 
	font-family: "microsoft yahei";
	line-height:60px;
	color:#333;
	background:url(../img/loveshadow.png) 50% 55px no-repeat;
}

.dis-ib .l_serve_details{
	
	height:40px;
	width:714px;
	text-align:center;
	margin:0 auto;
	font-size:14px; 
	line-height:40px;
	color:#666;
	text-indent: 0px;
	font-family: "microsoft yahei";
}

.dis-ib .l_serve_details .l_serve{
	margin:0 15px 0 10px ;
}

.dis-ib .l_serve_pubinfo{
	height:auto;
	width:600px;
	margin:0 auto;
	font-size:14px; 
	color:#666;
	font-family: "microsoft yahei";
}
.dis-ib .statedis{
	color:#ea5151;
}






















