

.bigbg{
	float: left;
	width:100%;
	height:auto;
	background-color:#f7f6f6;
}

#main .x_sev_info{
	height:auto;
	padding-bottom:40px;
	background-color:#f7f6f6;
	/*position:relative;*/
	float: left;
}
#main .x_sev_info div{
	font:400 18px/38px "microsoft yahei";
	color:#fff;
}
#main .x_sev_info div img{
	vertical-align:-8px;
}
#main .x_sev_info .flbox{
	margin:0 20px;
	
}
#main .x_sev_info .fll{
	background-color: #00AF62;
	position:relative;
	padding:0 220px 0 25px;
}
#main .x_sev_info .flr{
	position:relative;
	background-color: #00AF62;
	padding:0 0 0 26px;
}
#main .x_sev_info div .sj{
	position:absolute;
	bottom:-11px;
	left:12.5%;
	z-index:1;
}
#main .x_sev_info ul{

	padding-top:5px;
	font:400 16px/32px "microsoft yahei";
	color:#656565;
	
}

#main .x_sev_info .ull{

	background:url(../img/hotsha1.png) 100% 100% no-repeat;
	background-size:100%;
	padding-bottom:20px;
	padding-right:10px;
	background-color:#fff;

}
#main .x_sev_info ul li{
	text-indent:30px;
	font-size:12px;
	line-height:30px;
	background: url(../img/2.png) 15px 11px no-repeat;
}

#main .x_sev_info ul li a{
	color:#666;
}

/*	右边	*/

.l_serve_centerintro{
	width:714px;
	
	background:#fff url(../img/lovesha2.png) 50% 102% no-repeat;

}
.l_serve_centerintro .ulr{
	
	padding:10px 30px;
	margin:0;
	list-style-type: none;
	
	text-indent: 0px;
}
.l_serve_centerintro .ulr .l_serve_intro{
	
	padding:0px;
	margin:0px;
	height:45px;
	font-family: "microsoft yahei";
	font-size:14px;
	color:#808080;
}
#main .l_serve_centerintro .ulr .l_serve_intro{
	height:45px;
	line-height:45px;
	text-indent: 0px;
	background:#fff url(../img/loveshadow.png) 50% 35px no-repeat;
}

.l_serve_intro .l_serve_introl{
	float:left;
	display:block;
	color:#808080;
}

.l_serve_intro .l_serve_intror{
	float:right;
	text-align:right;
}

.l_serve_intro .l_serve_intror span{
	margin-left:15px;
	color:#808080;
}

.l_serve_intro .l_serve_intror .state{
	color:#ea5151;
}

/*	结束状态	*/

.l_serve_intro .l_serve_intror .end{
	color:#c2c1c1;
}

/*  	页码切换区	*/

.l_serve_cenfooter{
	text-align:center;
	margin-top:5px;
	height:35px;
	width:714px;
	font-size:14px;
	/*background:url(../img/lovesha2.png) 50% 100% no-repeat;*/
	padding-bottom:10px;
}
.l_serve_cenfooter a{
	color:#808080;
}

.l_serve_cenfooter .l_serve_changepage{
	background-color:#ccc;
	display:inline-block;
	width:50px;
	height:18px;
	line-height:18px;
	margin-left:10px;
}

 .l_serve_cenfooter .l_serve_changenum{
	display:inline-block;
	width:20px;
}

 .l_serve_cenfooter .l_serve_pageper{
	display: inline-block;
	width:50px;
	height:16px;
	line-height:18px;
	color:#808080;
	border:1px solid #b1b1b1;
}

/*	激活页码号类	*/

.l_serve_cenfooter .l_serve_changeactive{
	color:#00af62;
}


/*	我要发布	*/

.l_sever_pub{
	width:65px;
	text-align:right;

}

/*		需求详情	*/

.dis-ib .l_need_detail{
	width:714px;
	height:auto;
	min-height:320px;
	background:#fff url(../img/lovesha2.png) 50% 102% no-repeat;
}

.dis-ib .l_serve_pubtitle{
	height:60px;
	width:714px;
	margin:0 auto;
	text-align:center;
	font-size:18px; 
	font-family: "microsoft yahei";
	line-height:60px;
	color:#333;
	background:url(../img/loveshadow.png) 50% 55px no-repeat;
}

.dis-ib .l_serve_details{
	
	height:40px;
	width:714px;
	text-align:center;
	margin:0 auto;
	font-size:14px; 
	line-height:40px;
	color:#666;
	text-indent: 30px;
	font-family: "microsoft yahei";
}

.dis-ib .l_serve_details .l_serve_w{
	margin:0 20px 0 10px ;
}

.dis-ib .l_serve_pubinfo{
	height:auto;
	width:600px;
	text-indent: 10px;
	margin:0 auto;
	font-size:14px; 
	color:#666;
	font-family: "microsoft yahei";
}
.dis-ib .statedis{
	color:#ea5151;
}



/*	发布信息	*/

.dis-ib .l_input_text{
	width:654px;
	padding:15px 30px;
	background:#fff url(../img/lovesha2.png) 60% 101% no-repeat;
}

.dis-ib .l_input_text div{
	padding-bottom:15px;
}

.dis-ib .l_input_text div span{
	float:left;
	width:70px;
	font-size:14px;
	color:#747474;
} 

.dis-ib .l_input_text div textarea{
	width:475px;
	height:160px;
	resize: none;
}

.l_input_text .l_serve_pernum input{
	width:195px;
	height:30px;

}

.l_input_text .l_serve_needtitle input{
	width:475px;
	height:30px;

}
.l_input_text p{
	text-align: center;
}
.l_input_text p input{
	width:100px;
	height:30px;
	outline: none;
	background-color:#00a35b;
	border:1px solid #00a35b;
	border-radius: 5px;
	color:#fff;
	font-size:14px;

}





















