

.bigbg{
	float: left;
	width:100%;
	height:auto;
	background-color:#f7f6f6;
}

#main .x_sev_info{
	height:auto;
	padding-bottom:40px;
	background-color:#f7f6f6;
	/*position:relative;*/
	float: left;
}
#main .x_sev_info div{
	font:400 18px/38px "microsoft yahei";
	color:#fff;
}
#main .x_sev_info div img{
	vertical-align:-8px;
}
#main .x_sev_info .flbox{
	margin:0 20px;
	padding:0;
	
	
}
#main .x_sev_info .fll{
	background-color: #00AF62;
	position:relative;
	margin-top:-1px\9;
	padding:0 220px 0 25px;
}
#main .x_sev_info .flr{
	position:relative;
	margin-top:-3px\9;
	background-color: #00AF62;
	padding:0 0 0 26px;
}
#main .x_sev_info div .sj{
	position:absolute;
	bottom:-11px;
	bottom:-9px\9;
	left:12.5%;
	z-index:1;
}
#main .x_sev_info ul{

	padding-top:5px;
	font:400 16px/32px "microsoft yahei";
	color:#656565;
	
}

#main .x_sev_info .ull{

	background:url(../img/hotsha1.png) 100% 100% no-repeat;
	background:url(../img/hotsha1.png) 0% 100% no-repeat\9;
	background-size:120% 200%\9;
	background-size:100%;
	padding-bottom:20px;
	padding-right:10px;
	padding-top:15px;
	background-color:#fff;
	width:370px;

}
#main .x_sev_info .ull li{
	text-indent:30px;
	font-size:12px;
	line-height:30px;
	background: url(../img/2.png) 15px 11px no-repeat;
}

#main .x_sev_info ul li a{
	color:#666;
}



/*	右边区域	*/
#main .x_sev_info .flr{
	position:relative;
	margin-top:-3px\9;
	background-color: #00AF62;
	padding:0 0 0 26px;
	width:754px;
}
#main .x_sev_info div .sj{
	position:absolute;
	bottom:-11px;
	bottom:-9px\9;
	left:12.5%;
	z-index:1;
}
#main .x_sev_info  .l_lovefund_intro{
	position:relative;
	float:left;
	padding:10px 0px 0 40px;
	width:740px;
	min-height: 300px;
	height:auto;
	background:#fff url(../img/percensha2.png) 50% 101% no-repeat;
	
}
#main .x_sev_info  .l_lovefund_intro .l_addheight{
	height:50px;
	width:100%;
}
.l_lovefund_intro .ulr{
	width:740px;
	height:auto;
	/*background-color:red;*/
}

.l_lovefund_intro .ulr li{
	width:740px;
	height:50px;
	line-height:50px;
	/*background-color:red;*/
	background:#fff url(../img/loveshadow.png) 50% 100% no-repeat;
	background-size:100% 20%;
}
.l_lovefund_intro .ulr li a,span{
	font-size:14px;
	color:#666;

}
.l_lovefund_intro .ulr li span{
	margin-right:40px;
}



















